# Akira Debugger Configuration

# Enable/disable debugger
DEBUGGER_ENABLED=true

# Ray app connection
DEBUGGER_HOST=localhost
DEBUGGER_PORT=23517

# Watchers
SEND_CACHE_TO_DEBUGGER=false
SEND_DUMPS_TO_DEBUGGER=true
SEND_JOBS_TO_DEBUGGER=false
SEND_MAILS_TO_DEBUGGER=true
SEND_LOG_CALLS_TO_DEBUGGER=true
SEND_QUERIES_TO_DEBUGGER=false
SEND_DUPLICATE_QUERIES_TO_DEBUGGER=false
SEND_SLOW_QUERIES_TO_DEBUGGER=false
SEND_UPDATE_QUERIES_TO_DEBUGGER=false
SEND_INSERT_QUERIES_TO_DEBUGGER=false
SEND_DELETE_QUERIES_TO_DEBUGGER=false
SEND_SELECT_QUERIES_TO_DEBUGGER=false
SEND_REQUESTS_TO_DEBUGGER=false
SEND_HTTP_CLIENT_REQUESTS_TO_DEBUGGER=false
SEND_VIEWS_TO_DEBUGGER=false
SEND_EXCEPTIONS_TO_DEBUGGER=true
SEND_DEPRECATED_NOTICES_TO_DEBUGGER=false

# Thresholds
SLOW_QUERY_THRESHOLD_MS=500
