parameters:
    level: max
    paths:
        - src
    tmpDir: build/phpstan
    checkGenericClassInNonGenericObjectType: true
    checkMissingVarTagTypehint: true
    inferPrivatePropertyTypeFromConstructor: true
